body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-image: url("https://s7.ezgif.com/tmp/ezgif-7-c681087070.jpg");
    padding: 20px;
    color: #FFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-shadow:
    1px 1px 0 #000,
    -1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1px -1px 0 #000;
}

h1 {
    margin-bottom: 1em;
}

nav ul {
    list-style: none;
    background-color: #518cca;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #555;
}

.card {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1em;
    padding: 20px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #e23636;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #518cca;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #bd2130;
}

.login_body {
    background-image: url("https://www.komar.de/media/cms/fileadmin/user_upload/Category/Fototapeten/Marvel/komar-fototapeten-marvel.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: repeat; 
    align-items: center;
}

.login_box {
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    max-width: 400px;
    width: 100%;  
}

.login_box h2{ 
    font-size: 22px;
    text-align: center;
    margin-top: 0;
}

.login_form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: auto;
    background-color: #28a745;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.villain_pic {
    display: flex;
    justify-content: center;
}

.villain_eachPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
